body {
  padding-top: 50px;
  padding-bottom:70px;
}

.main-template {
  padding: 40px 15px;
  text-align: center;
}

.form-control {
    margin:0.4em 0;
}

#footer {
    margin-top:50px;
    background-color:#F8F8F8;
    padding: 10px;
    border-radius: 10px;
}